body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, white, #457aeb);
  background-repeat: no-repeat;
  height: 800px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: black;
}

.AddTodo {
  margin: 20px 0;
}

.TodoList {
  border: 1px solid #ddd;
  color: black;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.TodoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  gap: 2px;
}
button:hover {
  background-color: red;
}

.text-bold {
  font-weight: bold;
}
.editbutton {
  margin-left: 10px;
}
.strikethrough {
  text-decoration: line-through;
}
.gap {
  margin-top: 10px;
}
.list {
}
